<h2>Login</h2>

<input id="username" placeholder="Username"><br>
<input id="password" type="password"><br>

<button onclick="login()">Login</button>

<script>
function login() {
  fetch("/api/login/", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      username: username.value,
      password: password.value
    })
  })
  .then(res => res.json())
  .then(data => {
    localStorage.setItem("token", data.access);
    window.location.href = "/dashboard/";
  });
}
</script>